.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bg-rectangle{
  display : flex;
  align-items: center;
  justify-content: center;
  width : 100%;
  height : 100%;
  background-color: aquamarine;
}

@media screen{
  .bg-app{
    border-radius: 10px;
    display: inline-table;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex-direction: column;
    width: 400px;
    height: 100px;
    
  }
  
  .form{
    display:flex;
  }
  
  .field{
    display:flex;
    border-radius:10px;
  }
  
  .button{
    border-radius: 10px;
    background-color: #5BBEF5;
  }
  
  .buttonDelete{
    border-radius: 8px;
    background-color: #D84343;
  }
  
  #root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  img{
    width:100%;
  }
  
  .taskListForm{
    overflow-y: auto;
    max-height: 300px;
    
  }
  .taskList{

  }
}
